.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 80%;
    margin: 20px 0;
}

.btndown{
    display: flex;
    justify-content: space-between;
    background-color: #FF6060;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 20px 10px 15px;
}
.btndown i{
    color: white;
}
/* text drop */
.droptext{
    background-color: whitesmoke;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    height: 0;
}
.show{
    height: auto;
    transition: height 2s;
    width: 99.5%;
    padding: 20px;
}
/* rotation chevron */
.chevronDropDown{
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
}
.rotate{
    transform: rotate(-180deg);
    transition: transform 0.5s ease-in;
}