.logement{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}
/* Main */
.mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem;
}
.headerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.information h2, .information p{
    margin: 3px 0;
}
.tags{
    display: flex;
}
.tags p{
    background-color: #FF6060;
    color: white;
    border-radius: 20px;
    margin: 10px 5px ;
    padding: 5px 20px;
}
.host{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}
.host p{
    text-align: end;
    width: 80px;

}
.host img{
    border-radius: 50% ;
    height: 64px;
    width: 64px;
}
/* stars */
.stars{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    gap: 5px;
    font-size: 2rem;
}
/* dropdown */
.dropInformation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 97%;
    margin: 2rem;
}
.dropInformation .dropdown{
    width: 45%;
}
.droptext{
    width: 98%;
}
.dropdown li{
    list-style: none;
}
@media (max-width: 1440px) {
    .logement{
        width: 95%;
    }
    
}
@media (max-width: 1000px) {
    .headerContent{
        flex-direction: column;
    }
    .information{
        width: 100%;
    }
    .whoContent{
        display: flex;
        width: 100%;
    }
    .Who{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
    .host{
        justify-content: initial;
    }
    .stars{
        justify-content: initial;   
    }
}
@media (max-width: 700px) {
    .arrow{
       font-size: 30px;
    }
    .tags{
        flex-wrap: wrap;
        font-size: 10px;
        width: 100%;
    }
    .fa-star{
        font-size: 20px;
    }
    .dropInformation .dropdown{
        width: 95%;
    }
    .droptext{
        width: 98%;
    }
    .dropInformation{
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}