/* Carousel */
.carousel{
    position: relative;
    width: 100%;
    height: 415px;
}
.arrow{
    position: absolute;
    cursor: pointer;
    color: white;
    font-size: 5rem;
    margin: 0 20px;
    top: 50%;
}
.fa-chevron-left{
    left: 0;
}
.fa-chevron-right{
    right: 0;
}
.carousel img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}